/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */

// Normalize.scss
@import "../bower_components/normalize-scss/normalize";

// meyer reset
//@import "../bower_components/meyer-reset/stylesheets/meyer-reset";

// Bourbon
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";

// Grid Settings
@import "base/grid-settings";

// Neat
@import "../bower_components/neat/app/assets/stylesheets/neat";

// pesticide layout debug helper
$pesticide-debug: true !default;
@import "utils/pesticide";

// Bitters
@import "base/base";

// Components
// For smaller, less global components that do not belong in /layout
//@import "components/components";

// Layout
// Contains everything that takes part in laying out the theme
@import "layout/layout";







